/*
# Front-end Style Guide
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Typography
### Headings
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600
### Body
- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400

*/
:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --poppins: 'Poppins', sans-serif;
    --open-sans:'Open Sans', sans-serif;
  
}

html {
    background-image: url('./images/bg-mobile.svg');
    background-color: var(--violet);
}
/******************** HEADER *********************** */
.header-logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

/* **************** IMAGE SECTION ****************** */
.image-section{
    display: flex;
    justify-content: center;
}

.main-mockup{
    width: 275px;
    height: 200px;
}

/* ******************* DESCRIPTION-SECTION *************** */
.description-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-title{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

.description-par {
    font-family: var(--open-sans);
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    text-align: center;
    line-height: 25px;
}

.register-btn{
    width: 175px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: auto auto;
    color: var(--violet);
    font-family: var(--open-sans);
    font-weight: 500;
}

/* **************** ICON SOCIAL ********************** */
.social-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icon{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 23px;
    padding: 5px;
}

.div-test{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ************* FOOTER  ********************** */
.footer{
    font-size: 12px;
   text-align: center;
   font-family: var(--poppins);
}

.footer a {
    text-decoration: none;
    color: white;
    font-family: var(--poppins);
}